*{
    margin: 0;
    padding: 0;
}

body{
   
}

.police-kablammo{
    font-family: "kablammo";
}
.police-poppins{
    font-family: "poppins";
}

.text-jaune{
    background-color: #05cdff;
    
}


.espacement-lignes{
    line-height: 1.5;
}

.card-ob {
    transition: transform 0.3s ease;
}
.card-ob:hover{
    transform: scale(1.05);
}

.hero {
    background: linear-gradient(rgb(246, 246, 248),rgb(218, 223, 72));
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: center;
    width: 100%;
    height: 450px;
    border-radius: 30px;
}

.texbg{
    background-color: #beda90;
}

.txt{
    background-color: #f799ef;
}
.txte{
    background-color: #f59689;
}

.mobile{
    width: 280px;
}

@media (max-width: 768px) {
    .aropos{
        margin-top: 50px;
    } 
}